html,
body {
	height: 100%;
}

.main-menu li a {
	-webkit-transition: .3s;
	transition: .3s;
	color: #fff
}

.header-area.header-absolute {
	position: absolute;
	z-index: 99;
	width: 100%;
	left: 0;
	top: 0;
}
.main-menu li a{color: #fff !important;}
.main-menu li li a {
	color: #999 !important
}

.main-menu ul li:hover li:hover>a {
	color: #fff !important;
}

.main-menu li a:hover {
	color: #06D6A0;
}

.main-menu.theme-2 ul li.mega-menu ul ul {
	top: 20px;
}

.main-menu.theme-2 ul li ul {
	top: 30px;
}

.main-menu.theme-2 ul li:hover ul {
	top: 50px
}

.video-play-btn {
	color: #fff;
	height: 60px;
	width: 60px;
	line-height: 65px;
	background: #06d6a0;
	display: inline-block;
	font-size: 20px;
	border-radius: 50%;
	margin-top: ;
	text-align: center;
	padding-left: 6px;
	-webkit-transition: .3s;
	transition: .3s;
	margin-top: 20px;
}

.video-play-btn:hover {
	color: #fff;
	background: #1B4D5B;
}
