/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	/* Header and Menu */
	.header-area {
		padding-bottom: 0;
	}
	.main-menu li a {
		font-size: 12px;
		letter-spacing: 0;
	}
	.main-menu li {
		padding: 5px 10px;
	}
	.breadcroumb-area {
		height: 350px;
	}
	/* Hero */
	.hero-image {
		max-width: 500px;
		top: 13px;
		right: -9px;
	}
	.hero-content {
		padding-top: 80px;
	}
	.hero-content h2 {
		font-size: 45px;
	}
	.hero-content p {
		font-size: 16px;
	}
	.boxed-btn,
	input[type="submit"] {
		padding: 13px 25px;
	}
	
	/* About */
	.about-content {
		padding: 80px 50px;
		text-align: center;
		background: #f9f9f9;
	}
	.absolute-gray-bg {
		position: absolute;
		right: 60px;
		bottom: 670px;
		z-index: 9;
	}
	.about-bg {
		margin: 50px auto;
		height: 300px;
		width: 300px;
	}
	.about-area {
		position: relative;
	}
	.about-bg.about-bg-1 {
		float: left;
		margin-left: 60px;
	}
	.about-bg.about-bg-2 {
		margin: 0;
	}
	.about-area>.gray-bg {
		background: none;
	}
	/* Video */
	.video-area {
		text-align: center;
		background: #F9F9F9;
	}
	.video-play-btn {
		left: 250px;
	}
	/* Services */
	.service-area .section-title {
		margin-top: 50px;
		margin-bottom: 0;
	}
	.single-service-box-2 {
		padding: 20px 30px;
	}
	/* Porfolio */
	
	.section-title,
	.project-filter {
		text-align: center;
	}
	.project-bg {
		height: 250px;
	}
	/* Blog */
	.meta {
		font-size: 60px;
	}
	.blog-carousel {
		margin-top: 50px;
	}
	/* Contact */
	.contact-area .section-title {
		padding: ;
		margin: 0;
		padding: 60px;
	}
	.contact-area {
		text-align: center;
	}
	.location-details p {
		text-align: left !important;
		padding-left: 230px
	}
	.location-details .absolute-icon {
		left: 160px;
		top: -5px;
	}
	.location-content {
		padding: 0 50px 50px;
	}
	.comment-section input[type="submit"]:hover {
		font-size: 20px;
		padding: 7px 60px;
	}
	
}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
	.hero-image {
		max-width: 310px;
		top: 57px;
		left: 0px;
	}
	.breadcroumb-area {
		height: 350px;
	}
	.about-content {
		padding: 50px 20px;
		text-align: center;
	}
	.about-bg {
		height: 250px;
		width: 250px;
	}
	.about-bg.about-bg-1 {
		margin: 50px;
	}
	.about-area .gray-bg {
		padding: 10px 0 !important;
	}
	.about-bg.about-bg-2 {
		margin: 0;
		margin-left: 20px;
		margin-bottom: 50px;
	}
	.hero-image {
		max-width: 320px;
		top: 50px;
		left: 22px;
	}
	.hero-content h2 {
		font-size: 34px;
		margin-bottom: 10px;
	}
	.main-menu {
		display: none;
	}
	.hero-content {
		margin-top: -120px;
		text-align: center;
		width: 300px;
	}
	.hero-content p {
		font-size: 15px;
	}
	.boxed-btn,
	input[type="submit"] {
		padding: 12px 20px;
		font-size: 12px;
		margin-top: 10px;
	}
	.boxed-btn:hover,
	input[type="submit"]:hover {
		font-size: 12px;
	}
	.section-title {
		text-align: center;
	}
	.progress-level {
		padding: 40px 20px;
	}
	.service-carousel {
		padding: 0;
	}
	.service-area {
		padding: 40px 0;
	}
	.video-play-btn {
		top: 40%;
	}
	.project-filter {
		text-align: center;
	}
	.project-filter li {
		margin: ;
		margin-bottom: 10px;
	}
	.project-bg {
		width: 250px;
		display: block;
	}
	.row.projects-list {}
	.about {
		text-align: center;
	}
	.single-service-box-2 {
		padding: 30px 20px;
	}
	.single-service-item-2 {
		margin-bottom: 20px;
	}
	.meta {
		padding: 50px 0;
		font-size: 40px;
	}
	.service-carousel-2 .owl-dots {
		margin-top: 0;
		margin-bottom: 30px;
		text-align: center;
	}
	.testimonial-box {
		padding: 10px;
	}
	.logo-carousel .owl-dots {
		text-align: center;
	}
	.contact-form {
		padding: 40px 0;
	}
	.scrollToTop {
		right: 20px;
	}
	.project-bg {
		width: 290px;
	}
	.location-content {
		padding: 10px;
		text-align: center;
	}
	.contact-area .section-title {
		padding: 50px 0 0;
	}
	.testimonial-content {
		padding: 0 10px;
	}
	.testimonial-carousel:before {
		font-size: 35px;
	}
	.testimonial-carousel {
		padding: 20px 0;
	}
	.logo-area {
		margin: 50px 0;
	}
	.location-details .absolute-icon {
		margin: 0 !important;
		top: 7px;
		height: 40px;
		width: 40px;
		line-height: 33px;
		font-size: 15px;
	}
	.location-details p {
		padding-left: 50px;
		margin: ;
		margin-bottom: 30px;
		text-align: left;
	}
	.social-icon-boxes li a {
		height: 40px;
		width: 40px;
		font-size: 20px;
		line-height: 36px;
	}
	.social-icon-boxes {
		margin-bottom: 20px;
	}
	.location-details {
		margin: 40px 0;
	}
	.contact-form input,
	.contact-form textarea,
	.contact-form input[type=submit] {
		margin: 10px 0;
	}
	.scrollToTop {
		right: 30px;
	}
	.bordered-btn {
		padding: 13px 25px;
	}
	
	body {
		overflow-x: hidden !important;
	}
	.tags p {
		margin: 10px 0;
		text-align: center;
	}
	.social-links {
		text-align: center;
	}
	.author-img {
		margin: ;
		text-align: center;
		width: 100%;
	}
	.author-info h3 {
		text-align: center;
		margin-top: 20px;
	}
	.author-info .social-links {
		text-align: center;
	}
	.author-info {
		margin: 30px 5px;
	}
	.comment-box .boxed-btn {
		top: 83%;
		border: 1px solid #333;
		font-size: 12px;
	}
	.comment-box .boxed-btn:hover {
		padding: 5px 20px;
	}
	.comment-box {
		padding: 20px;
	}
	.comment-box.reply {
		margin-left: 0;
	}
	.comment-section h2 {
		font-size: 23px;
		text-align: center;
	}
	.comment-section input[type=submit] {
		width: 100%;
	}
	.comment-section input[type="submit"]:hover {
		font-size: 20px;
		padding: 7px 60px;
	}
	.copyright-area p {
		text-align: center;
	}
	.blog-meta p {
		margin-bottom: 10px;
	}
	.blog-meta {
		text-align: center;
	}
	.entry-content h1 {
		text-align: center;
		font-size: 30px;
	}
	.entry-content p {
		text-align: center;
	}
	
	
	/* responsive menu CSS */
	.menu-trigger {
		display: block;
		z-index: 9;
	}
	.toggle-menu .main-menu {
		display: none
	}
	.toggle-menu {
		position: relative;
	}
	.header-area .menu-trigger {
		color: #333 !important;
	}
	.header-area .toggle-menu .main-menu li a {
		color: #fff !important;
	}
	.header-area.change .menu-trigger {
		color: #fff !important;
	}
	.header-area.fixed .menu-trigger {
		color: #fff !important;
	}
	.header-area.fixed .menu-trigger,
	.header-area .menu-trigger{
		position: absolute;
		right: 0;
		top: -55px;
		padding: 0 30px;
		font-size: 25px;
		cursor: pointer;
	}
	.toggle-menu .main-menu li {
		display: block;
		padding: 0;
	}
	.toggle-menu .main-menu li a {
		padding: 10px 0 10px 16px;
		border-bottom: 1px solid #fff;
	}
	.header-area {
		padding-bottom: 0;
	}
	.toggle-menu .main-menu ul {
		background: #000;
	}
	.toggle-menu .main-menu li:last-child a {
		border-bottom: none;
	}
	.logo h2 {
		margin-bottom: 20px !important;
	}
	.expand {
		display: block;
	}
	.header-area.shrink {
		padding: 10px 0 0;
	}
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {}
