.boxed-btn,
input[type=submit],
button[type=submit] {
	background-color: #06D6A0;
	transition: .3s;
}
.boxed-btn:hover {
	background-color: #289FF9;
	color: #fff;
}
.main-menu a:hover {
	color: #06D6A0 !important;
}

.form-input-area input[type=submit]:hover,
button[type=submit]:hover {
	color: #fff;
	background-color: #289FF9;
}
.testimonial-content p{
	font-size: 16px !important;
	line-height: 1.8;
	margin-bottom: 40px;
}

.header-absolute {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 2;
}
