/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }
.section-padding {
	padding: 80px 0;
}
.features-wrap {
	text-align: center;
	padding-bottom: 122px;
}
.features-area {
  padding-top: 50px;
  color: #979797;
  line-height: 1.8;
  font-size: 15px;
}
.features-area h2, .features-area h3 {
  color: #6B52A3;
  font-weight: 400;
  margin-bottom: 17px;
}
.section-title p {
  color: #979797;
}
.section-title p {
  max-width: ;
}
.section-title img {
  margin-bottom: 20px;
}
.section-title p {
  width: ;
}
.feature-details {
	padding: 30px;
	text-align: left;
	margin-top: 67px;
}
.features-wrap {
  position: relative;
}

.absolute-image {
	position: absolute;
	right: -46px;
	bottom: 0;
	max-height: 450px;
}






