/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
body {

}
a:hover { text-decoration: none }
.full-area .row {
	position: relative;
}
.full-area {
	padding-top: 80px;
	padding-bottom: 80px;
	background: -moz-linear-gradient(45deg, #b1b1b1 0%, #6e80a2 48%, #ac8271 100%);
background: -webkit-linear-gradient(45deg, #b1b1b1 0%,#6e80a2 48%,#ac8271 100%);
background: linear-gradient(45deg, #b1b1b1 0%,#6e80a2 48%,#ac8271 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1b1b1', endColorstr='#ac8271',GradientType=1 );
}
.homepage-area h2 {
  font-size: 40px;
  font-weight: 300;
  line-height: 1.4;
  color: #333;
}
.homepage-area {
  color: #6A6A6A;
  font-size: 16px;
	max-height: 640px;
}

.main_area {
    width: 70%;
    height: 480px;
    margin: 0 auto;
    overflow: hidden;
    background-image: url(../img/cloud_PNG4.png);
	background-size: cover;
	background-repeat: no-repeat;
	padding-right: 50px;
	padding-left: 50px;
	box-shadow: 5px 5px 31px 1px rgba(0, 0, 0, 0.28);

}
.header-area {
	padding: 50px;
}
.header-area h2 {
  font-weight: 300;
  font-size: 30px;
}
.header-area a {
  font-size: 16px;
  color: #6A6A6A;
}

.homepage-area {
  padding: 40px 50px 120px;
}
.bg-img {
	background: linear-gradient(-333deg, #fff 20%, #4A72B3 , #D556BF , #F3B392 );	
	background-position: center top;
	background-size: cover;
	overflow: hidden;
	position: inherit;
	left: 0;
	bottom: 0;
	z-index: 0;
	width: 100%;
}
.bg-img::after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	background: url(../img/cloud_PNG4.png);
	background-position: center;
	background-size: cover;
	z-index: -1;
	left: 0;
	top: 0;
	opacity: .6;
}
.header-area h2 {
  font-size: 30px;
  font-weight: 300;
  line-height: 35px;
  padding: 20px 0 10px;
}

.header-area a {
	color: #70706A;
	font-size: 18px;
	line-height: 68px;
	padding: 20px 0 10px;
	text-decoration: none;
}


.homepage-area {
  color: #6A6A6A;
  font-size: 16px;
}
.homepage-area a {
  color: #6A6A6A;
  font-weight: 700;
  font-size: 17px;
}
.footer-area .social-icons a {
	color: #fff;
	background: #9c9c9c;
	height: 26px;
	width: 28px;
	text-align: center;
	font-size: 20px;
	display: inline-block;
	border-radius: 3px;
	margin-left: 10px;
}
.footer-area {
	color: #6A6A6A;
	padding: 25px 60px;
	border-top: 1px solid #a1a1a1;
}











