/* Base CSS */
@import url('https://fonts.googleapis.com/css?family=Alegreya|Raleway');
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
	font-family: 'Alegreya', serif;
}
body {
	font-family: 'Raleway', sans-serif;
}
a:hover { text-decoration: none }
.space {
	padding: 80px 0;
}
.section-padding {
	padding: 30px 0 0;
}
.map {
	height: 500px;
	width: 100%;
	margin-bottom: -90px;
	box-shadow: 0 0 5px #000;
}
.map-bg {
  background: #343950;
  color: #fff;
}
.section-title {
  font-size: 80px;
  font-weight: 400;
  margin-bottom: 60px;
}
.map-info {
	color: #C1C6E3;
	font-size: 14px;
	line-height: 2.1;
	padding-top: 20px;
	padding-left: 66px;
	margin-bottom: 0;
}
p.map-info strong {
	color: #fff;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 700;
}
.location-info {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-left: 60px;
}
.location-info li {
	position: relative;
	z-index: 1;
	line-height: 0px;
	margin-bottom: 35px;
	padding-bottom: 20px;
}
.location-info li::after {
	position: absolute;
	content: '';
	height: 1px;
	width: 70px;
	left: 0;
	bottom: -20px;
	background: #55586E;
	opacity: .5;
}
.location-info li:last-child:after {
	display: none;
}
.location-info li h3 {
	font-size: 50px;
	color: #CB9436;
	font-weight: 400;
}
.location-info li span {
	font-size: 40%;
	font-weight: 400;
}
.location-info li p {
	text-transform: uppercase;
	font-size: 11px;
	opacity: .5;
}












































