/* Base CSS */

@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:300,400,500,600,700,800');
.alignleft {
	float: left;
	margin-right: 15px;
}

.alignright {
	float: right;
	margin-left: 15px;
}

.aligncenter {
	display: block;
	margin: 0 auto 15px;
}

a:focus {
	outline: 0 solid
}

img {
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 15px;
	font-family: 'Bree Serif', serif;
	color: #3c3d41;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #969595;
}

a:hover {
	text-decoration: none
}

.section-padding {
	padding: 80px 0;
}

.hero-area {
	position: relative;
	z-index: 1;
	display: table;
	width: 100%;
	height: 100%;
}

html,
body {
	height: 100%;
}

.hero-area-tablecell {
	display: table-cell;
	vertical-align: middle;
}

.hero-area::before {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #f9f9f9;
	background: -moz-linear-gradient(-45deg, #f9f9f9 0%, #f9f9f9 36%, #68e6e2 36%, #68e6e2 100%);
	background: -webkit-linear-gradient(-45deg, #f9f9f9 0%, #f9f9f9 36%, #68e6e2 36%, #68e6e2 100%);
	background: linear-gradient(120deg, #f9f9f9 0%, #f9f9f9 36%, #68e6e2 36%, #68e6e2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#68e6e2', GradientType=1);
	z-index: -1;
}

.absolute-hero-image {
	position: absolute;
	left: 150px;
	bottom: 0;
	max-height: 500px;
}

.main-menu .social-icons ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-menu .social-icons li {
	display: inline-block;
}

.main-menu .social-icons li a {
	color: #fff;
	display: block;
	padding: 0 10px;
	font-size: 20px;
	height: 45px;
	width: 45px;
	text-align: center;
	line-height: 43px;
}

.social-icons {
	margin: 15px 0;
}

.header-area {
	position: absolute;
	z-index: 2;
	width: 100%;
	left: 0;
	top: 0;
	padding: 15px 0;
}

.menu-trigger a {
	color: #262A34 !important;
	font-size: 30px !important;
}

.hero-content h1 {
	font-size: 74px;
	margin-bottom: 0;
	font-weight: bolder;
}

.hero-content h2 {
	font-size: 46px;
	margin-bottom: 35px;
}

.hero-content p {
	font-size: 14px;
	font-weight: 600;
	color: #262A34;
}

.double-btn {
	margin-top: 35px;
}

.boxed-btn,
input[type=submit] {
	color: #fff;
	padding: 12px 35px;
	background: #262A34;
	text-transform: uppercase;
	font-weight: 600;
	display: inline-block;
	margin-right: 20px;
	transition: .3s;
	border: 2px solid #262a34;
}

.bordered-btn {
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	padding: 12px 35px;
	border: 2px solid #fff;
	display: inline-block;
	transition: .3s;
}

.boxed-btn:hover,
input[type=submit]:hover,
.subscribe-form input[type=submit]:hover {
	background: #fff;
	color: #333333;
	border: 2px solid #fff;
}

.bordered-btn:hover {
	border: 2px solid #262a34;
	background: #262a34;
	color: #fff;
}

.single-service-item {
	text-align: center;
	padding: 30px;
	transition: .3s;
}

.service-icon i.fa {
	color: #DADADA;
	font-size: 22px;
	height: 70px;
	width: 50px;
	border: 1px solid #f0f0f0;
	line-height: 68px;
	border-radius: 50px;
	display: inline-block;
	margin-bottom: 35px;
	transition: .3s;
}

.service-content h4 {
	font-family: 'open sans';
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 25px;
}

.service-content p {
	color: #969595;
	font-weight: 500;
	line-height: 1.7;
}

.single-service-item:hover {
	box-shadow: 0 0 31px #DADADA;
}

.single-service-item:hover .service-icon i.fa {
	background: #68E6E2;
	color: #fff;
	border: 1px solid #68E6E2;
}

.curved-line span {
	height: 30px;
	width: 1px;
	background: #68E6E2;
	display: inline-block;
	margin-right: 10px;
	transform: rotate(-66deg);
}

.section-title {
	margin-bottom: 70px;
}

.section-title h2 {
	font-size: 43px;
	margin: 0;
	text-transform: uppercase;
}

.section-title p {
	font-size: 16px;
}

.about-area {
	position: relative;
	z-index: 1;
	background-image: url(../img/about-bg.jpg);
	background-position: center;
	background-size: cover;
	height: auto;
	width: 100%;
	padding-top: 120px;
}

.about-content {
	padding: 120px 0 80px;
	width: 500px;
}

.about-content h2 {
	color: #fff;
	font-size: 45px;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.about-content p {
	color: #fff;
	font-size: 14px;
	line-height: 1.8;
	opacity: .8;
}

.about-content .boxed-btn,
.subscribe-form input[type=submit] {
	margin-top: 50px;
	background: #68E6E2;
	border: 2px solid #68E6E2;
}

.about-content .boxed-btn:hover {
	background: #262A34;
	color: #fff;
	border: 2px solid #262A34;
}

.about-banner::before {
	position: absolute;
	content: '';
	right: -7px;
	top: -90px;
	height: 560px;
	width: 686px;
	background-image: url(../img/horn.png);
	z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
}

.about-banner {
	position: relative;
}

.about-banner img {
	max-height: 600px;
}

.about-area:before {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #262A34;
	z-index: -1;
	opacity: .5;
}

.about-carousel .owl-dots div,
.testimonial-carousel .owl-dots div {
	height: 12px;
	width: 12px;
	background: #95A3AA;
	display: inline-block;
	margin: 3px;
	border-radius: 50%;
}

.testimonial-carousel .owl-dots div {
	background: #B8F2F0 !important;
}

.about-carousel .owl-dots div.active,
.testimonial-carousel .owl-dots div.active {
	background: #fff !important;
	width: 22px;
	border-radius: 50px;
}

.about-carousel .owl-dots {
	width: 100%;
	text-align: right;
}

.portfolio-bg-1 {
	background-image: url(../img/portfolio-1.jpg);
}

.portfolio-bg-2 {
	background-image: url(../img/portfolio-2.jpg);
}

.portfolio-bg-3 {
	background-image: url(../img/portfolio-3.jpg);
}

.portfolio-bg-4 {
	background-image: url(../img/portfolio-4.jpg);
}

.portfolio-bg-5 {
	background-image: url(../img/portfolio-5.jpg);
}

.portfolio-bg-6 {
	background-image: url(../img/portfolio-6.jpg);
}

.portfolio-bg {
	height: 230px;
	background-position: center;
	background-size: cover;
	width: 100%;
	position: relative;
	z-index: 1;
	display: table;
	margin-bottom: 5px;
}

.portfolio-hover {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	text-align: center;
}

.project-titles {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	margin-bottom: 75px;
}

.project-titles li {
	display: inline-block;
	color: #262A34;
	font-size: 14px;
	padding: 12px 25px;
	margin: 0 3px;
	background: #E6E5E5;
	cursor: pointer;
	font-weight: 600;
	text-transform: uppercase;
}

.project-titles li a {
	color: #262A34;
}

.project-titles li.active {
	background: #7BE6E2;
}

.hover-icon a i.fa {
	color: #fff;
	font-size: 22px;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
}

.portfolio-hover:before {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	background: #68E6E2;
	z-index: -1;
	opacity: 0;
	transform: scale(0);
	transition: .3s;
	visibility: hidden;
}

.row.projects-list {
	margin-left: -2.5px;
	margin-right: -2.5px;
}

.row.projects-list .col-md-4 {
	padding-left: 2.5px;
	padding-right: 2.5px;
}

.portfolio-bg:hover .portfolio-hover:before,
.portfolio-bg:hover .hover-icon a i.fa {
	opacity: .85;
	transform: scale(1);
	visibility: visible;
}

.testimonial {
	background-image: url(../img/testimonial-bg.jpg);
	background-position: center;
	background-size: cover;
	height: 100%;
	position: relative;
	z-index: 1;
	width: 100%;
}

.testimonial:before {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #68E6E2;
	opacity: .8;
	z-index: -1;
}

.absolute-testimonial-img {
	position: absolute;
	left: 0;
	bottom: 0;
	max-height: 465px;
}

.testimonial-carousel:before {
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-right: 25px solid #fff;
	border-bottom: 20px solid transparent;
	left: -25px;
	top: 90px;
}

.testimonial-carousel {
	background: #fff;
	color: #222;
	padding: 30px;
	border-radius: 10px;
	position: relative;
	z-index: 1;
}

.single-testimonial-area {
	position: relative;
	padding: 20px;
}

.single-testimonial-area:before {
	position: absolute;
	content: '"';
	left: 0;
	top: -15px;
	font-size: 37px;
	color: #67E6E0;
	transform: rotate(20deg);
}

.single-testimonial-area::after {
	position: absolute;
	content: '"';
	right: 25px;
	bottom: 20px;
	font-size: 37px;
	color: #67E6E0;
	transform: rotate(24deg);
}

.testimonial-content p {
	font-size: 15px;
	font-weight: 600;
	line-height: 1.8;
}

.testimonial-content p.meta {
	color: #6ED0C8;
}

.testimonial .curved-line span {
	background: #fff;
}

.testimonial .section-title p {
	color: #222;
}

.testimonial-carousel .owl-dots {
	position: absolute;
	bottom: -52px;
	width: 100%;
	text-align: center;
}

.team-bg-1 {
	background-image: url(../img/team-member-1.png);
}

.team-bg-2 {
	background-image: url(../img/team-member-2.png);
}

.team-bg-3 {
	background-image: url(../img/team-member-3.png);
}

.team-bg {
	background-position: center;
	background-size: cover;
	background-color: #ddd;
	;
	height: 360px;
	width: 100%;
}

.team-content {
	border: 1px solid #E6E6E8;
	border-top: 0;
	padding: 30px;
	text-align: center;
}

.team-content h4 {
	font-family: 'open sans';
	font-size: 18px;
}

.team-content p {
	border-bottom: 1px solid #E6E6E8;
	padding-bottom: 20px;
}

.team-content .social-icon a {
	color: #DADADA;
	font-size: 18px;
	display: inline-block;
	height: 35px;
	width: 35px;
	text-align: center;
	line-height: 32px;
	border: 1px solid #DADADA;
	border-radius: 50%;
	transition: .3s;
}

.team-content .social-icon a:hover {
	background: #67E6E0;
	border: 1px solid #67E6E0;
	color: #fff;
}

.team-content .social-icon {
	margin-top: 20px;
}

.footer-area {
	background: #262A34;
}

.footer-area .section-title {
	margin-bottom: 0;
}

.footer-area .section-title h2 {
	color: #fff;
	margin-bottom: 20px;
}

.subscribe-form input[type=email] {
	border: 0;
	padding: 14px;
	width: 75%;
	background: #51555D;
}

.subscribe-form input {
	display: inline-block;
}

.subscribe-form input[placeholder] {
	color: #fff;
}

.copyright-area {
	margin-top: 50px;
}

.copyright-area p {
	margin: 20px 0;
	color: #fff;
}

.copyright-area p a {
	color: #68E6E2;
	font-weight: 600;
}

.off-canvas-menu {
	width: 500px;
	height: 100%;
	position: fixed;
	top: 0;
	left: -500px;
	z-index: 999;
	background: #2a3a46;
	background: -moz-linear-gradient(top, #2a3a46 0%, #2a3a46 52%, #ffffff 52%, #ffffff 100%);
	background: -webkit-linear-gradient(top, #2a3a46 0%, #2a3a46 52%, #ffffff 52%, #ffffff 100%);
	background: linear-gradient(190deg, #2a3a46 0%, #2a3a46 52%, #ffffff 52%, #ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a3a46', endColorstr='#ffffff', GradientType=0);
	transition: .3s;
}

.off-canvas-menu.active {
	left: 0;
}

.off-canvas-menu {
	padding: 40px;
}

.off-canvas-menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	height: auto;
	margin-top: 13px;
	text-align: center;
}

.off-canvas-menu li a {
	color: #2A3A46;
	font-weight: 600;
	font-size: 17px;
	padding: 10px 25px;
	display: block;
	text-transform: uppercase;
	transition: .3s;
}

.off-canvas-menu li {
	display: inline-block;
	margin: 5px;
	border-radius: 50px;
	background: #E6E5E5;
}

.logo {
	text-align: center;
}

.off-canvas-menu .subscribe-form {
	text-align: center;
}

.off-canvas-menu .subscribe-form input[type=email] {
	width: 65%;
}

.off-canvas-menu .social-icon {
	width: 100%;
	text-align: center;
	height: auto;
	margin-top: 20px;
	border-top: 2px solid #2A3A46;
}

.off-canvas-menu .social-icon a {
	color: #2A3A46;
	font-size: 25px;
	height: 50px;
	width: 50px;
	line-height: 46px;
	text-align: center;
	border: 2px solid #2A3A46;
	display: inline-block;
	margin-top: 15px;
	border-radius: 50%;
	transition: .3s;
}

.off-canvas-menu .social-icon a:hover {
	background: #2A3A46;
	color: #fff;
}

.show-img {
	text-align: center;
	margin-top: 20px;
}

.show-img img {
	max-width: 60px;
}

.off-canvas-menu li a:hover {
	background: #7BE6E2;
	border-radius: 50px;
	color: #fff;
}

.off-canvas-menu li.active {
	background: #7BE6E2;
	border-radius: 50px;
	color: #fff;
}

.off-canvas-overlay {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #283844;
	z-index: 0;
	opacity: 0;
	transition: .3s;
}

.menu-close {
	position: absolute;
	right: 0;
	font-size: 51px;
	cursor: pointer;
	padding: 0 30px;
	color: #fff;
}

.off-canvas-overlay.active {
	opacity: .8;
	z-index: 44;
}
